.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.globalHeader {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.globalNum {
  font-size: 1.8rem;
}

.homeHeader,
.usHeader {
  padding: 4rem;
  text-align: center;
}

.homePage,
.usPage {
  background-color: #eeeeee;
}

.globalStats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  margin-top: -14rem;
}

.footer-text {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer-text p {
  font-size: 0.8rem;
}

.footer-text a {
  color: #dc143c;
}

.footer-text a:hover {
  color: #8b0000;
}

.row {
  justify-content: center;
}

#confirmed {
  color: orange;
  margin-left: 2rem;
}

#recovered {
  color: green;
  margin-left: 2.7rem;
}

#deaths {
  color: red;
  margin-left: 1.2rem;
}

.lastUpdated {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.earthVector {
  margin-top: -2rem;
}

.us-map {
  margin-top: -10rem;
}

.nav-link:hover {
  color: #dc143c !important;
}

.navbar-brand:hover {
  color: #dc143c !important;
}