.globalHeader {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.globalNum {
  font-size: 1.8rem;
}

.homeHeader,
.usHeader {
  padding: 4rem;
  text-align: center;
}

.homePage,
.usPage {
  background-color: #eeeeee;
}

.globalStats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  margin-top: -14rem;
}

.footer-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-text p {
  font-size: 0.8rem;
}

#confirmed {
  color: orange;
  margin-left: 2rem;
}

#recovered {
  color: green;
  margin-left: 2.7rem;
}

#deaths {
  color: red;
  margin-left: 1.2rem;
}

.lastUpdated {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.earthVector {
  margin-top: -2rem;
}

.us-map {
  margin-top: -10rem;
}

.nav-link:hover {
  color: #5ba3d1 !important;
}

.navbar-brand:hover {
  color: #5ba3d1 !important;
}

.dark {
  color: #dadada;
  background: #1c2022;
}

@media only screen and (max-width: 1089px) {
  .btn-clear {
    margin-right: 3rem !important;
  }
  .homeHeader,
  .usHeader {
    margin-top: 12rem;
  }
}

@media only screen and (max-width: 885px) {
  .us-map {
    margin-top: -6rem;
  }
  .earthVector {
    margin-top: 0;
  }
  .globalStats {
    margin-top: -11rem;
  }
}

@media only screen and (max-width: 827px) {
  .navbar-brand,
  .nav-link {
    font-size: 0.7rem !important;
    padding: .5rem !important;
  }
  .btn-clear {
    font-size: 20px !important;
  }

  .globalStats {
    margin-top: -9rem;
  }
  .homeHeader,
  .usHeader {
    font-size: 0.5rem;
  }
  .lastUpdated {
    font-size: 0.7rem;
  }
  .globalHeader {
    font-size: 1.5rem;
  }

  .globalNum {
    font-size: 1rem;
  }

  .footer-text p {
    font-size: 0.6rem;
  }
}
